<!doctype html>
<html ng-app="Demo">
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<div ng-controller="SomeController">
		<accordion>
			<expander class="expander" expander-title="title" ng-repeat="expander in expanders">
				{{expander.text}}
			</expander>
		</accordion>
	</div>
		
	<div ng-controller="MainController">
		Outside myDirective:{{myProperty}}
		<div my-directive ng-init="myProperty='wow,this is cool'">
			inside myDirective；{{myProperty}}
		</div>
	</div>
	<div ng-controller="loadDataCtrl">
		<ul>
			<li ng-repeat="user in users">
				{{user.name}}
			</li>
		</ul>
	</div>
	<div ng-controller="ServiceController">
		<label for="">用户名</label>
		<input type="text" ng-model="username" placeholder="请输入用户名">
		<pre ng-show="username">{{users}}</pre>
	</div>
	



<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/demo.js"></script>
</body>
</html>
