body{
	background:#edeced;
}
.fs1{
	font-size:19px;
}
.fs2{
	font-size:32px;
}
.btn-pull{
	margin-left:-10px;
}
.panel-heading{
	font-size:20px;
}
.panel-body{
	padding:5px 8px;
}
.container{
	padding-right:8px;
    padding-left:8px;
}
.panel-orange{
	border-color: #ff6622;
}
.panel-orange>.panel-heading {
    color: #fff;
    background-color: #ff6622;
    border-color: #ff6622;
 }
 .btn-orange{
 	color: #fff;
    background-color: #ff6622;
    border-color: #ff6622;
 }
 .f-orange{
 	color: #ff6622;
 }
.panel-red{
	border-color: #d73037;
}
.panel-red>.panel-heading {
    color: #fff;
    background-color: #d73037;
    border-color: #d73037;
 }
 .btn-red{
 	color: #fff;
    background-color: #d73037;
    border-color: #d73037;
 }
 .f-red{
	color: #d73037;
 }
 /*小三角*/
 .circle{
 	position:relative;
 	width:20px;
 	height:20px;
 	border-radius:10px;
 }
 .circle_red{
 	border:1px solid #fe6767;
 }
 .circle_blue{
 	border:1px solid #4da6f1;
 }
 .circle_orange{
 	border:1px solid #f1874d;
 }
 .circle_green{
 	border:1px solid #0ecc51;
 }
 .triangle_border_right{
 	position:absolute;
 	top:50%;
 	right:50%;
 	margin-top:-5px;
 	margin-right:-3.5px;
    width:0;
    height:0;
    border-width:5px 0 5px 5px;
    border-style:solid;
}
.triangle_blank{
	position:absolute;
	top:0;
	left:-7px;
	border-color:transparent transparent transparent #fff;
}
.triangle_red{
	border-color:transparent transparent transparent #fe6767;
}
.triangle_blue{
	border-color:transparent transparent transparent #4da6f1;
}
.triangle_orange{
	border-color:transparent transparent transparent #f1874d;
}
.triangle_green{
	border-color:transparent transparent transparent #0ecc51;
}

 
/*---------福米金融首页-----------*/
.navbar-brand img{
	width:188px;
	display:inline-block;
}
.logo{
	padding:14px 5px;
}
.showBtn{
	border:none;
	padding:9px 5px;
	margin:16px 1px 8px 0;
}
.index-guide{
	float:right;
	color:#323232;
	font-size:20px;
	border:none;
	padding:9px 0;
	margin:8px 0;
}
.index-safe{
	background:#fff;
	margin-bottom:10px;
}
.index-safe p{
	color:#323232!important;
}
.index-safe>div{
	position:relative;
	margin-top:10px;
	float:left;
	width:50%;
	height:70px;
	text-align:center;
}
.index-safe>div:first-child{
	border-right:solid 1px #e1e1e1;
}
.index-safe .safe-img{
	float:left;
	width:;
	max-width:74px;
}
.index-safe .safe-img .pro{
	margin-top:6px;
}
.index-safe .safe-text{
	float:left;
	padding:0;
}
.emphasize{
	color:#d73037;
	font-size:20px;
}
.index-item>div{
	border-bottom:solid 1px #e1e1e1; 
}
.index-item>div:last-child{
	border:none;
}
.hongbao{
	margin:0 auto;
	margin-top:-20px;
	width:65%;
	max-width:74px;
}
.hongbao img{
	width:100%;
}
.hongbao-text{
	color:#f44242;
	font-size:12px;
	margin-bottom:0;
}
.safeAndMore{
	height: 1.2rem;
	padding: 0.15rem 0 0 0;
	margin: 0 0 10px;
	clear: both;
	background: white;
	vertical-align: middle;
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.safeAndMore>div:first-child {
	border-right: 1px solid #e1e1e1;
}
.safeAndMore img{
	width: 0.74rem;
	height:0.74rem;
	display: block;
}
.safeAndMore .imgBao{
	margin-top: 0.1rem; 
}
.safeAndMore *{
	padding: 0;
}
.safeAndMore p {
	margin: 0;
	line-height: 0.4rem;
}
.wrap {
	padding: 0 5px;
}
.jiantou {
	position: absolute;
	background: url(../images/jiantou.png) no-repeat;
	background-size: 100% 100%;
	width: 0.3rem;
	height: 0.3rem;
	right: 0.1rem;
	top:40%;
}