body{
	background:#edeced;
}
a:focus, a:hover{
	text-decoration:none;
}
/*---------颜色类------------*/
.fs1{
	font-size:19px;
}
.fs2{
	font-size:32px;
}
.fs3{
	font-size:30px;
}
.fs4{
	font-size:22px;
}
.f-orange{
 	color: #ff6622;
 }
 .f-blue{
	color:#0a5dab;
 }
 .f-green{
 	color:#1e950e;
 }
 .bg-green{
 	background-color:#1e950e;
 }
 /*-----------按钮类-------------*/
 /*确认大按钮*/
.btn-confirm{
	width:80%;
	height:60px;
	margin:0 auto;
	background-color:#ff593d;
	text-align:center;
	line-height:60px;
	color:#fff;
	font-size:21px;
	border-radius:6px;
}
.btn-pull{
	margin-left:-10px;
}
/*--------------------------------*/
.carousel-inner img{
	width:100%;
}
.panel{
	position: relative;
}
.panel-heading{
	font-size:24px;
}
.panel-body{
	padding:5px 8px;
	position: relative;
}
.container{
	padding-right:8px;
    padding-left:8px;
}
.panel-orange{
	border-color: #ff6622;
}
.panel-orange>.panel-heading {
    color: #fff;
    background-color: #ff6622;
    border-color: #ff6622;
    overflow: hidden;
 }
 .btn-orange{
 	color: #fff;
    background-color: #ff6622;
    border-color: #ff6622;
 }
 .f-orange{
 	color: #ff6622;
 }
 .f-blue{
	color:#0a5dab;
 }
.panel-red{
	border-color: #d73037;
}
.panel-red>.panel-heading {
    color: #fff;
    background-color: #d73037;
    border-color: #d73037;
 }
 .btn-red{
 	color: #fff;
    background-color: #d73037;
    border-color: #d73037;
 }
 .f-red{
	color: #d73037;
 }
 /*-------------小三角箭头------------*/
 .circle{
 	position: absolute;
 	right: 0.15rem;
 	top: 50%;
 	margin-top: -10px;
 	width:20px;
 	height:20px;
 	border-radius:10px;
 }
 .circle_red{
 	border:1px solid #fe6767;
 }
 .circle_blue{
 	border:1px solid #4da6f1;
 }
 .circle_orange{
 	border:1px solid #f1874d;
 }
 .circle_green{
 	border:1px solid #0ecc51;
 }
 .triangle_border_right{
 	position:absolute;
 	top:50%;
 	right:50%;
 	margin-top:-5px;
 	margin-right:-3.5px;
    width:0;
    height:0;
    border-width:5px 0 5px 5px;
    border-style:solid;
}
.triangle_blank{
	position:absolute;
	top:0;
	left:-7px;
	border-color:transparent transparent transparent #fff;
}
.triangle_red{
	border-color:transparent transparent transparent #fe6767;
}
.triangle_blue{
	border-color:transparent transparent transparent #4da6f1;
}
.triangle_orange{
	border-color:transparent transparent transparent #f1874d;
}
.triangle_green{
	border-color:transparent transparent transparent #0ecc51;
}
/*---------小三角箭头结束----------*/
 
/*---------福米金融首页-----------*/
.navbar-brand img{
	width:188px;
	display:inline-block;
}
.logo{
	padding:14px 5px;
}
.showBtn{
	border:none;
	padding:9px 5px;
	margin:16px 1px 8px 0;
}
.index-guide{
	float:right;
	background:none!important;
	color:#323232;
	font-size:20px;
	border:none;
	padding:9px 0;
	margin:8px 0;
}
.index-guide:focus,.index-guide:hover{
	background:none!important;
}
.index-safe{
	background:#fff;
	margin-bottom:10px;
}
.index-safe p{
	color:#323232!important;
}
.index-safe>div{
	position:relative;
	margin-top:10px;
	float:left;
	width:50%;
	height:70px;
	text-align:center;
}
.index-safe>div:first-child{
	border-right:solid 1px #e1e1e1;
}
.index-safe .safe-img{
	float:left;
	width:;
	max-width:74px;
}
.index-safe .safe-img .pro{
	margin-top:6px;
}
.index-safe .safe-text{
	float:left;
	padding:0;
}
.emphasize{
	color:#d73037;
	font-size:20px;
}
.index-item>div{
	border-bottom:solid 1px #e1e1e1; 
}
.index-item>div:last-child{
	border:none;
}
.hongbaoWrap {
	margin-left: -15px;
}
.hongbao{
	margin:0 auto;
	width:65%;
	max-width:74px;
}
.hongbao img{
	width:0.5rem;
}
.hongbao-text{
	color:#f44242;
	font-size:12px;
	margin-bottom:0;
}
.safeAndMore{
	height: 1.2rem;
	padding: 0.15rem 0 0 0;
	margin: 0 0 10px;
	clear: both;
	background: white;
	vertical-align: middle;
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.safeAndMore>div:first-child {
	border-right: 1px solid #e1e1e1;
}
.safeAndMore img{
	width: 0.74rem;
	height:0.74rem;
	display: block;
}
.safeAndMore .imgBao{
	margin-top: 0.1rem; 
}
.safeAndMore *{
	padding: 0;
}
.safeAndMore p {
	margin: 0;
	line-height: 0.4rem;
}
.wrap {
	padding: 0 5px;
}
.jiantou {
	position: absolute;
	background: url(../images/jiantou.png) no-repeat;
	background-size: 100% 100%;
	width: 0.3rem;
	height: 0.3rem;
	right: 0.3rem;
	top:50%;
	margin-top:-0.15rem;
}
.fashionPlan>div>p>img {
	width: 1.4rem;
	height: 0.23rem;
}
.fashionPlan>div>h4>img {
	width: 0.9rem;
	height: 0.9rem;
}
.fashionPlan span{
	font-size:0.28rem;
}
.earning {
	float:right;
	clear:both;
	display: inline-block;
	font-size: 10px;
	margin-left: 30px;
}
.earning b{
	display: inline-block;
	border-radius: 100%;
	background-color: #ffbd02;
	color: white;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
}
.clearOut {
	background: url(../images/clearOut.png) no-repeat;
	background-size: 1.15rem 0.74rem;
	background-position: 100% 100%; 
	margin-left: -17px;
}
.panel-head-top,.panel-head-bottom{
	overflow: hidden;
}
.panel-head-bottom a{
	color:#fff!important;
}
.panel-head-left {
	float:left;
	font-size: 15px;
}
.panel-head-left h3 {
	margin: 0;
	font-size: 24px;
}
.panel-head-right {
	float: right;
	text-align: right;
	font-size: 15px;
}
.listItem h4{
	font-size:18px;
	font-weight:bold;
}
.listItem span{
	font-size:15px;
}
.listItem img{
	width: 0.48rem;
	position: absolute;
	top: 50%;
	left: 0.5rem;
	margin-top: -0.24rem;
}
.sisa>div>div:first-child {
	border-right: 1px solid #e1e1e1;
}
/*-------------header---------------*/
.header{
  z-index:0;
  position:relative;
  width:100%;
  height:0.88rem;
  background:#e26e48;
}
.header .lastStep{
  background:url(../images/back.png) no-repeat 0 center;
  background-size:100% 100%;
  width:0.21rem;
  height:0.37rem;
  font-size:0.28rem;
  float:left;
  margin:0.29rem 0 0 0.4rem;
}
.header .home{
  background:url(../images/home.png) no-repeat 0 center;
  background-size:100% 100%;
  width:0.36rem;
  height:0.36rem;
  font-size:0.28rem;
  float:right;
  margin:0.29rem 0.4rem 0 0.28rem;
}
.header h1{
  z-index:-1;
  position:absolute;
  text-align:center;
  width:100%;
  font-size:0.35rem;
  color:#fff;
}
/*----------首页footer----------------*/
footer .panel {
	background: #dedede;
}
footer div[class*=col] img {
	width: 0.9rem;
}
footer div[class*=col] {
	padding-left: 5px;
	padding-right: 5px;
}
footer div[class^=col-xs-3]:nth-of-type(2) {
	border-right: 1px solid #ccc;
}
footer p {
	margin: 0;
}
footer .footer-bottom p{
	font-size:14px;
	margin-bottom:3px;
}
.vsealImg {
	position: absolute;
	top: 50%;
	height: 0.6rem;
	margin-top: -0.3rem;
	left: 70%;
}


/*------------列表组------------------*/
ul.list{
	list-style:none outside;
	background:#fff;
	padding-left:0;
}
ul.list li{
	position:relative;
	padding:1px 5px;
	border-bottom:solid 1px #e1e1e1;
}
ul.list li:last-child{
	border-bottom:none;
}
.list-title{
	text-indent:1.5em;
}
.list-title2{
	text-indent:35px;
}
.list-padding{
	padding-top:20px!important;
}
.list-padding2{
	padding-top:10px!important;
}
.list-height{
	height:50px;
}
.list-height p{
	line-height:50px;
	margin-bottom:0;
}

/*------------产品购买页----------------*/
.buyPro-money{
	padding:12px 0 1px!important;
}
/*-----增减盒------*/
.moreOrLess{
	position:relative;
	width:45%;
	height:60px;
	margin:0 auto 10px;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}
.moreOrLessBtn{
	position:absolute;
	top:-1px;
	width:60px;
	height:60px;
	color:#fff;
	background-color:#d2d2d2;
	line-height:60px;
	text-align:center;
	font-size:50px;
}
.moreBtn{
	left:-60px;
}
.lessBtn{
	right:-60px;
}
.moreOrLess input{
	width:80%;
	height:58px;
	text-align:center;
	border:none;
	outline:none;
}
/*---------------------------*/
.confirm{
	margin:30px auto;
	text-align:center;
}
.confirm a{
	color:#ed4949;
}
/*-------------产品列表页-----------*/
.hot{
	background:url(../images/hot.png) 10px center no-repeat;
	background-size:23px;
}
.old{
	background:url(../images/old.png) 14px center no-repeat;
	background-size:19px;
}