html{
	min-height:100%;

}
body{
	font-family: "微软雅黑","Microsoft Yahei";
}
.hidden{
	display:none;
}
.viewport{
	position:relative;
	overflow:scroll;
	max-width:640px;
	margin:0 auto;
}
header{
	z-index:0;
	position:fixed;
	top:0;
	width:100%;
	max-width:640px;
	height:70px;
	background-color:#3E90FF;
	text-align:center;
}
.header-back{
	float:left;
	width:40px;
	padding-top:16px;
	padding-left:10px;
}
.header-back img{
	width:100%;
}
header h1{
	z-index:-1;
	position:absolute;
	width:100%;
	line-height:70px;
	font-size:30px;
	color:#fff;
}
.controlGoal{
	width:100%;
	margin-top:70px;
}
.controlGoal h3{
	height:50px;
	line-height:70px;
	font-size:22px;
	text-indent:17px;
	background-color:#ccc;
}
.controlGoal ul{
	width:100%;
}
.controlGoal li{
	width:98%;
	margin:0 auto;
	line-height:55px;
	border-bottom:solid 2px #ccc;
}
.controlGoal ul strong{
	display:inline-block;
	font-size:28px;
	font-weight:normal;
	padding-left:10px;
}
.controlGoal ul span{
	display:inline-block;
	float:right;
	font-size:20px;
}
.controlGoal i{
	font-style:normal;
}
.controlGoal i.select{
	float:right;
	display:inline-block;
	width:30px;
	height:30px;
	margin-top:13px;
	margin-left:-3px;
	background:url(../images/iconfont-arrowright.png) no-repeat;
}
/*选择数值层*/
.selectValue{
	z-index:1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(107,102,94,0.5);
}
.selectValue-wrap{
	position:absolute;
	width:100%;
	bottom:0;
}
.selectValue-wrap header{
	z-index:0;
	position:relative;
	height:40px;
	background:#fff;
	text-align:center;
}
.selectValue-wrap header h3{
	z-index:-1;
	position:absolute;
	width:100%;
	line-height:40px;
}
.selectValue-wrap header a{
	text-decoration:underline;
	padding-top:12px;
}
.selectValue-wrap a[title="cancle"]{
	float:left;
	padding-left:12px;
}
.selectValue-wrap a[title="confirm"]{
	float:right;
	padding-right:12px;
}
.selection{
	position:relative;
	width:100%;
	height:250px;
	background-color:#fff;
	text-align:center;
	border:solid 1px #ccc;
}
.option{
	line-height:50px;
}
.border{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:60px;
	-moz-transform:translate(-50%,-50%);
	border:solid 1px #ccc;
}
.zhezhao{
	z-index:1;
	position:absolute;
	left:0;
	width:100%;
	height:100%;
	top:0;
	background:-moz-linear-gradient(top,rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.6) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.6) 75%,rgba(255,255,255,0.9) 100%);
}
.swiper-slide-active{
	font-size:22px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
