body{
	background:#edeced;
}
a{color:inherit;}
a:focus, a:hover{
	text-decoration:none;
}
sup {
    font-size: 65%;
    vertical-align:super;
}
/*---------颜色类------------*/
.fs1{
	font-size:19px;
}
.fs2{
	font-size:30px;
}
.fs3{
	font-size:30px;
}
.fs4{
	font-size:22px;
}
.f-orange{
 	color: #ff6622;
 }
 .f-blue{
	color:#0a5dab;
 }
 .f-green{
 	color:#1e950e;
 }
 .bg-green{
 	background-color:#1e950e;
 }
 /*-----------按钮类-------------*/
 /*确认大按钮*/
.btn-confirm{
	width:80%;
	height:50px;
	margin:0 auto;
	background-color:#ff593d;
	text-align:center;
	line-height:50px;
	color:#fff;
	font-size:17px;
	border-radius:6px;
}
.btn-red{
	background-color:#e94834;
}
.btn-pull{
	margin-left:-10px;
}
/*--------------------------------*/
.carousel-inner img{
	width:100%;
}
.panel{
	position: relative;
}
.panel-heading{
	font-size:22px;
}
.panel-body{
	padding:5px 8px;
	position: relative;
}
.container{
	padding-right:8px;
    padding-left:8px;
}
.panel-orange{
	border-color: #ff6622;
}
.panel-orange>.panel-heading {
    color: #fff;
    background-color: #ff6622;
    border-color: #ff6622;
    overflow: hidden;
 }
 .btn-orange{
 	color: #fff;
    background-color: #ff6622;
    border-color: #ff6622;
 }
 .f-blue{
	color:#0a5dab;
 }
.panel-red{
	border-color: #d73037;
}
.panel-red>.panel-heading {
    color: #fff;
    background-color: #d73037;
    border-color: #d73037;
 }
 .btn-red{
 	color: #fff;
    background-color: #d73037;
    border-color: #d73037;
 }
 .f-red{
	color: #d73037;
 }
 .f-red1{
 	color:#e94834;
 }
 .panel-silver{
	border-color: #dadada;
}
.panel-silver>.panel-heading {
    color: #fff;
    background-color:#dadada;
    border-color: #dadada;
 }
 /*-------------小三角箭头------------*/
 .circle{
 	position: absolute;
 	right: 0.15rem;
 	top: 50%;
 	margin-top: -10px;
 	width:20px;
 	height:20px;
 	border-radius:10px;
 }
 .circle_red{
 	border:1px solid #fe6767;
 }
 .circle_blue{
 	border:1px solid #4da6f1;
 }
 .circle_orange{
 	border:1px solid #f1874d;
 }
 .circle_green{
 	border:1px solid #0ecc51;
 }
 .triangle_border_right{
 	position:absolute;
 	top:50%;
 	right:50%;
 	margin-top:-5px;
 	margin-right:-3.5px;
    width:0;
    height:0;
    border-width:5px 0 5px 5px;
    border-style:solid;
}
.triangle_blank{
	position:absolute;
	top:0;
	left:-7px;
	border-color:transparent transparent transparent #fff;
}
.triangle_red{
	border-color:transparent transparent transparent #fe6767;
}
.triangle_blue{
	border-color:transparent transparent transparent #4da6f1;
}
.triangle_orange{
	border-color:transparent transparent transparent #f1874d;
}
.triangle_green{
	border-color:transparent transparent transparent #0ecc51;
}
/*---------小三角箭头结束----------*/
 

/*---------福米金融首页-----------*/
.navbar-brand img{
	width:188px;
	display:inline-block;
}
.logo{
	padding:14px 5px;
}
.showBtn{
	border:none;
	padding:9px 5px;
	margin:16px 1px 8px 0;
}
.index-guide{
	float:right;
	background:none!important;
	color:#323232;
	font-size:20px;
	border:none;
	padding:9px 0;
	margin:8px 0;
}
.index-guide:focus,.index-guide:hover{
	background:none!important;
}
.index-safe{
	background:#fff;
	margin-bottom:10px;
}
.index-safe p{
	color:#323232!important;
}
.index-safe>div{
	position:relative;
	margin-top:10px;
	float:left;
	width:50%;
	height:70px;
	text-align:center;
}
.index-safe>div:first-child{
	border-right:solid 1px #e1e1e1;
}
.index-safe .safe-img{
	float:left;
	width:;
	max-width:74px;
}
.index-safe .safe-img .pro{
	margin-top:6px;
}
.index-safe .safe-text{
	float:left;
	padding:0;
}
.emphasize{
	color:#d73037;
	font-size:20px;
}
.index-item>div{
	border-bottom:solid 1px #e1e1e1; 
}
.index-item>div:last-child{
	border:none;
}
.hongbaoWrap {
	margin-left: -15px;
}
.hongbao{
	margin:0 auto;
	width:65%;
	max-width:74px;
}
.hongbao img{
	width:0.5rem;
}
.hongbao-text{
	color:#f44242;
	font-size:12px;
	margin-bottom:0;
}
.safeAndMore{
	height: 1.2rem;
	padding: 0.15rem 0 0 0;
	margin: 0 0 10px;
	clear: both;
	background: white;
	vertical-align: middle;
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.safeAndMore>div:first-child {
	border-right: 1px solid #e1e1e1;
}
.safeAndMore img{
	width: 0.74rem;
	height:0.74rem;
	display: block;
}
.safeAndMore .imgBao{
	margin-top: 0.1rem; 
}
.safeAndMore *{
	padding: 0;
}
.safeAndMore p {
	margin: 0;
	line-height: 0.4rem;
}
.wrap {
	padding: 0 5px;
}
.jiantou {
	position: absolute;
	background: url(../images/jiantou.png) no-repeat;
	background-size: 100% 100%;
	width: 0.3rem;
	height: 0.3rem;
	right: 0.2rem;
	top:50%;
	margin-top:-0.15rem;
}
.fashionPlan>div>p>img {
	width: 2.3rem;
}
/*.fashionPlan>div>h4>img {
	width: 0.9rem;
	height: 0.9rem;
}*/
.fashionPlan span{
	font-size:0.28rem;
}
.fashionPlan .phone{
	width: 1.5rem;
}
.earning {
	float:right;
	clear:both;
	display: inline-block;
	font-size: 10px;
	margin-left: 30px;
}
.earning b{
	display: inline-block;
	border-radius: 100%;
	background-color: #ffbd02;
	color: white;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
}
.clearOut {
	background: url(../images/clearOut.png) no-repeat;
	background-size: 1.15rem 0.74rem;
	background-position: 100% 100%; 
	margin-left: -17px;
}
.panel-head-top,.panel-head-bottom{
	overflow: hidden;
}
.panel-head-bottom a{
	color:#fff!important;
}
.panel-head-left {
	float:left;
	font-size: 15px;
}
.panel-head-left h3 {
	margin: 0;
	font-size: 22px;
}
.panel-head-right {
	float: right;
	text-align: right;
	font-size: 15px;
}
.listItem h4{
	font-size:18px;
	font-weight:bold;
}
.listItem span{
	font-size:15px;
}
.listItem img{
	width: 0.48rem;
	position: absolute;
	top: 50%;
	left: 0.5rem;
	margin-top: -0.24rem;
}
.sisa>div>div:first-child {
	border-right: 1px solid #e1e1e1;
}
/*-------------header---------------*/
.header{
  z-index:0;
  position:relative;
  width:100%;
  height:0.88rem;
  background:#e26e48;
}
.header .lastStep{
  background:url(../images/back.png) no-repeat 0 center;
  background-size:100% 100%;
  width:0.21rem;
  height:0.37rem;
  font-size:0.28rem;
  float:left;
  margin:0.29rem 0 0 0.4rem;
}
.header .home{
  background:url(../images/home.png) no-repeat 0 center;
  background-size:100% 100%;
  width:0.36rem;
  height:0.36rem;
  font-size:0.28rem;
  float:right;
  margin:0.29rem 0.4rem 0 0.28rem;
}
.header h1{
  z-index:-1;
  position:absolute;
  text-align:center;
  width:100%;
  font-size:0.35rem;
  color:#fff;
}
/*----------首页footer----------------*/
footer .panel {
	background: #dedede;
}
footer div[class*=col] img {
	width: 0.9rem;
}
footer div[class*=col] {
	padding-left: 5px;
	padding-right: 5px;
}
footer div[class^=col-xs-3]:nth-of-type(2) {
	border-right: 1px solid #ccc;
}
footer p {
	margin: 0;
}
footer .footer-bottom p{
	font-size:12px;
	margin-bottom:3px;
}
.vsealImg {
	position: absolute;
	top: 50%;
	height: 0.6rem;
	margin-top: -0.3rem;
	left: 70%;
}
.section-footer{
	background:#e9e9e9;
	padding:10px 0;
}

/*------------列表组------------------*/
ul.list{
	list-style:none outside;
	background:#fff;
	padding-left:0;
}
.firstList{
	margin-top:14px;
}
ul.list li{
	position:relative;
	padding:1px 5px;
	border-bottom:solid 1px #e1e1e1;
}
ul.list li:last-child{
	border-bottom:none;
}
.list-head{
	height:50px;
	line-height:50px;
	margin:0;
	padding-left:7%;
	color:#a2a2a2;
	font-size:15px;
}
.list-head2{
	height:45px;
	line-height:45px;
	margin:0;
	padding-left:7%;
	color:#e94834;
	font-size:12px;
}
.list-title{
	text-indent:1.5em;
}
.list-title2{
	text-indent:35px;
}
.list-padding{
	padding-top:20px!important;
}
.list-padding2{
	padding-top:10px!important;
}
.list-height{
	height:50px;
}
.list-height p{
	line-height:50px;
	margin-bottom:0;
}
.list li.infoItem{
	padding-left:8%;
	padding-right:8%;
}
.list li.infoItem span:first-child{
	width:auto;
}
.list li.infoItem span:last-child{
	float:right;
	text-align:right;
	color:#acacac;
}
.list li.infoItem input{
	line-height:normal;
}
/*---------------表单列表组-------------*/
.form-list input{
	outline:none;
	border:none;
	line-height:45px;
}
.form-list input.forOne{
	width:100%;
}
.form-list li{
	position:relative;
	height:50px;
	padding-left:6%;
}
.form-list li span{
	line-height:50px;
}
.form-list li span.indicate{
	float:right;
	margin-right:5%;
}
.form-list li.noText{
	padding-left:7%;
}
.form-list li.forText{
	padding-left:7%;
}
.form-list li.bC{
	padding-left:7%;
}
.form-list li.bC span{
	display:inline-block;
	vertical-align:middle;
	width:25%;
}
.form-list li.forText span{
	display:inline-block;
	text-align:justify;
	width:21%;
}
.form-list li.setPW{
	padding-left:2%;
}
.form-list li.setPW span{
	display:inline-block;
	width:37%;
}
.form-list li input{
	width:58%;
}
.form-list li .code{
	display:inline-block;
	vertical-align:middle;
	color:#fff;
	padding:5px 20px;
	margin-left:10%;
	height:30px;
	background:#ea522b;
	border-radius:5px;
}


/*表单列表组中的按钮类*/


/*------------产品购买页----------------*/
.buyPro-money{
	padding:12px 0 1px!important;
}
/*-----增减盒------*/
.moreOrLess{
	position:relative;
	width:45%;
	height:60px;
	margin:0 auto 10px;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}
.moreOrLessBtn{
	position:absolute;
	top:-1px;
	width:60px;
	height:60px;
	color:#fff;
	background-color:#d2d2d2;
	line-height:60px;
	text-align:center;
	font-size:50px;
}
.moreBtn{
	left:-60px;
}
.lessBtn{
	right:-60px;
}
.moreOrLess input{
	width:80%;
	height:58px;
	text-align:center;
	border:none;
	outline:none;
}
/*---------------------------*/
.confirm{
	margin:30px auto;
	text-align:center;
}
.confirm a{
	color:#ed4949;
}
/*-------------产品列表页-----------*/
.hot{
	background:url(../images/hot.png) 10px center no-repeat;
	background-size:23px;
}
.old{
	background:url(../images/old.png) 14px center no-repeat;
	background-size:19px;
}
.toLeft1{
	margin-left:-7px;
}
/*--------------项目信息页-----------*/
.proInfo-head{
	font-size:16px;
	color:#e26e48;
}
.proInfo-list{
	line-height:58px;
}
.proInfo-list-text{
	padding-left:25px;
}
.proInfo-section .panel:first-child{
	margin-top:20px;
} 
.proInfo-section p{
	text-indent:2em;
}
.proInfo-section .panel p:first-child{
	margin-top:15px;
	line-height:25px;
}
.proInfo-section .pagination a{
	color:#e26e48;
}
/*--------------注册/登录页---------------*/
.logIn{
	background:#f3f3f3;
}
.logo-head{
	padding-top:50px;
	margin-bottom:50px;
}
.logo-head img{
	width:4rem;
}
.logIn-hint{
	color:#acacac;
	font-size:14px;
}
.logIn-btn-hint{
	width:80%;
	margin:20px auto 50px;
	font-size:12px;
	color:#8f8f8f;
}
.logIn-btn{
	margin-top:50px;
}
.logIn-btn-top{
	font-size:14px;
	color:#878787;
}
.logIn-btn-top a{
	color:#e94834;
}
.logIn-info{
	margin-top:10px;
	margin-bottom:50px;
}
.logIn-info span{
	font-size:12px;
	display:block;
	width:234px;
	margin:0 auto 5px;
	line-height:0.3rem;
}
.logIn-info .info1{
	background:url(../images/warn.png) no-repeat 0 center;
	background-size:0.3rem;
	color:#ea522b;
	text-indent:0.3rem;
}
.logIn-info .info2{
	background:url(../images/protect.png) no-repeat 0 center;
	background-size:0.3rem;
	text-indent:0.3rem;
}
.step{
	width:50px;
	height:50px;
	margin:0 auto;
	border-radius:100%;
	background:#c0c0c0;
	color:#fff;
	line-height:50px;
	text-align:center;
}
.active{
	background:#e94834;
}
.steps hr{
	float:left;
	width:12%;
	border-color:#c0c0c0;
}
.steps hr.on{
	border-color: #e94834 ;
}
.set-hint{
	padding:10px 0;
	color:#acacac;
}
.set-btn-top a{
	color:#63dcff;
}
/*弹出框提示样式*/

.layermbtn span[type="1"]{color:#2f820e;}
.layermbtn{line-height:39px!important;}
.layermcont {
    padding: 20px 30px!important;
}

/*--------------充值提现页------------------*/

/*新浪支付动态图*/
.sinaPay { 
	position: relative; 
	width: 150px; 
	height: 150px; 
	
}
.sinaCircle{ 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: url(../images/sinaCircle.png) no-repeat; 
	background-size:100% 100%;
	animation: spin 800ms infinite linear;
	-webkit-animation:spin 800ms infinite linear; 
}

@keyframes spin {
  0%   { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
.sinaInfo{
	color:#989898;
	margin-top:10px;
}
/*充值输入密码页*/
.inputPW-top{
	padding-top:30px;
	text-align:center;
}
/*充值完成页*/
.rechargeComplete-top{
	background-color:#fff;
	padding-bottom:10px;
	margin-bottom:10px;
}
/*线下充值页*/




